<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cars</title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>Type</th>
            <th>Colors</th>
            <th>Name</th>
        </tr>
        <br/>
        <th:block th:each="msg : ${allCars}">
            <tr>
                <td th:text="${msg.getType()}"></td>
                <td th:text="${msg.getColors()}"></td>
                <td th:text="${msg.getName()}"></td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>